.addMovies-block {
    display: block;
    width: 90%;
    margin: 20px auto;
}

.input-movie {
    display: inline-block;
    width: 40%;
    margin: 5px 0;
    padding: 5px;
}

.input-movie,
.add-btn,
.delete-btn {
    border: 2px solid #000;
}

.add-btn,
.delete-btn {
    display: inline-block;
    margin: 0 4px;
    text-transform: capitalize;
    padding: 5px 10px;
    background: transparent;
}

.add-btn,
.delete-btn:hover {
    cursor: pointer;
}